.ScoreTable {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  width: 80%;
  background-color: white;
  padding: 1em;
}

.ScoreTable table {
  width: 100%;
  margin: 0 auto;
  min-width: 400px;
}

.ScoreTable-section {
  vertical-align: top;
  width: 100%;
}

.TotalScore-section {
  margin: 2em 0;
}
.TotalScore td {
  font-weight: 250;
  font-size: 1.5em;
  padding: 0.2em;
  border-bottom: solid 2px purple;
}
.TotalScore-label {
  width: 50%;
  text-align: left;
}
.TotalScore-score {
  width: 50%;
  text-align: right;
}
